services:
  - type: web
    name: ai-researcher-backend
    runtime: python
    repo: https://github.com/adityajoshi0608/ai-researcher-project
    rootDir: backend
    plan: free
    buildFilter:
      paths:
      - backend/**
    
    # --- THIS IS THE CORRECTED COMMAND ---
    buildCommand: "apt-get clean && apt-get update && apt-get install -y tesseract-ocr poppler-utils && pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port $PORT"