services:
  - type: web
    name: ai-researcher-backend
    runtime: docker
    repo: https://github.com/adityajoshi0608/ai-researcher-project
    rootDir: backend
    plan: free
    buildFilter:
      paths:
      - backend/**
    
    # We don't need httpPort. The Dockerfile now handles the port.