services:
  - type: web
    name: ai-researcher-backend
    runtime: docker        # <--- THIS IS THE FIX
    repo: https://github.com/adityajoshi0608/ai-researcher-project
    rootDir: backend
    plan: free
    buildFilter:
      paths:
      - backend/**
    
    # We don't need buildCommand or startCommand anymore
    # The Dockerfile handles all of it.
    
    # We tell Render to use port 10000 (which we set in the Dockerfile)
    httpPort: 10000